<h1>Eat-Da-Burger</h1>

<p>Enter a burger you want to eat, click 'submit'.</p>

<h2>Add a Burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="auth">Burger:</label>
    <input type="text" id="burger" name="author">
  </div>


  <button class="button">Add Burger</button>
</form>



<ul>
  {{#each burgers}}
  {{#if devoured}}
   <li>{{this.burger_name}}</li>
  {{/each}}
</ul>

{{!-- <ul>
  {{#each burgers}}
  {{#unless devoured}}
   <li>{{this.burger_name}}</li>
  {{/each}}
</ul> --}}


{{!-- put request

when devoured button is pushed, value it updated from 0 to 1 --}}
